body {
    font-family: 'roboto mono';
    min-height: 669px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    z-index: 100;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px
}

.profilePicture {
    height: 40px;
    border-radius: 100px;
    margin-right: 20px;
}

.headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerLinks {
    text-decoration: none;
    color: black;
}

.home, .project, .article, .contact {
    border: none;
    background-color: white;
    font-family: "roboto mono";
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.home:hover, .project:hover, .article:hover, .contact:hover {
    cursor: pointer;
}

.homeTooltip, .projectsTooltip, .articlesTooltip, .contactTooltip {
    visibility: hidden;
    position: absolute;
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: "roboto mono";
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 5px;
    z-index: 1;
    margin-top: 1px;
}

.homeTooltip {
    margin-left: -50px;
}

.projectsTooltip {
    margin-left: -190px;
}

.articlesTooltip {
    margin-left: -85px;
}

.contactTooltip {
    margin-left: -45px;
}

.home:hover .homeTooltip, .project:hover .projectsTooltip, .article:hover .articlesTooltip, .contact:hover .contactTooltip {
    visibility: visible;
}

.middleSectionHome {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 300px;
    display: flex;
    font-size: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailsHome {
    height: 450px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detailBox {
    border: solid 2px black;
}

.projectsHome {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.workExperience {
    flex: 1.5;
    display: flex;
    flex-direction: column;
}

.workEX {
    flex: 0.7;
    font-size: 25px;
    text-align: center;
}

.work1 {
    flex: 1;
    padding-left: 15px;
    margin-bottom: 10px;
}

.work2 {
    flex: 1.7;
    padding-left: 15px;
    padding-right: 15px;
}

.education {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 0;
}

.reviewsHome {
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-top: 0;
}

.review {
    border: solid 2px black;
    border-radius: 50px;
    flex: 1;
    padding: 20px;
    margin: 40px;
}

.footer {
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.title {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 100px;
}

.gridColumnProject {
    display: flex;
    flex-direction: column;
}

.gridRowProject {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.projectBox {
    flex: 1;
    border: solid 2px black;
    width: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.contactDetails {
    text-align: center;
    text-decoration: none;
    color: blue;
}

.cookieConsent {
    position:fixed;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    text-align: left;
}

.cookieImage {
    width: 40px;
    margin-bottom: 70px;
}

.cookieButton {
    background-color: white;
    color: black;
    text-align: center;
    font-family: "roboto mono";
    border: none;
    border-radius: 10px;
    padding: 10px 32.8px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.cookieButton:hover {
    cursor: pointer;
    background-color: grey;
}

.cookieButton:active {
    background-color: rgb(167, 167, 167);
    color: black;
}

.cookieX {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    top: -260px;
    left: 175px;
    margin-bottom: -20px;
}

.cookieXButton {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 100px;
    padding: 3px 10px;
}

.cookieXButton:hover {
    cursor: pointer;
    background-color: rgb(66, 66, 66);
}

.cookieXButton:active {
    background-color: rgb(167, 167, 167);
}

.hidden {
    visibility: hidden;
}